[Unit]
Description=Now Playing Web Admin Service
After=syslog.target network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
SyslogIdentifier=now-playing-web
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
